/* Variables for colors and more */
:root {
  --color-background: #FFFFFF;
  --color-border: #CCCCCC;
  --color-error: #D32F2F;
  --color-area: #4CAF50;
  --color-restricted-area: #FF9800;
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-brand: #F30147;

  --font-size: 15px;
  --line-height: 1.6;
  --input-height: 2rem;
  --input-width: 15em;
}

/* General styling */
body {
  color: var(--color-text-primary);
  background: var(--color-background);
  line-height: var(--line-height);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
